<div class="bodypage">
  <div class="col-md-6">
<% @pages.each do |p| %>
<h3><div class:"img-frame"><%=link_to p.page_name, page_path(p), data:{ image: p.image }%></div></h3>
<hr>
<!-- <%= p.page_body %> -->
<% end %>
</div>
</div>
<div class="col-md-6">

<img src="" class="img-fluid" alt="Responsive image">

</div>
<!-- <script>
$(document).ready(function() {
  $("a").hover( function(event){
    event.preventDefault();
    console.log(event);

    $(".img-fluid").attr("src")
  })
})


</script> -->
