<div class="container bodypage">
  <div class="user-container">
    <ul>
      <% @pages.each do |p| %>
        <li>
          <div class="row">
              <div class="col-md-3">
                <h2><div class:"img-frame"><%=link_to p.page_name, page_path(p)%></div></h2>
              </div>
            <div class="col-md-9">
              <%= image_tag p.image,class:"user-index-picture"  %>
            </div>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
