<div class="bodypage">
  <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <% @templates.each do |temp| %>
  <div class='tmp-image'>
    <%= image_tag(temp.image, id: "dd#{temp.id}", class: temp.id, data:{ body: temp.temp_body, image: temp.image} )%>
  </div>
  <hr>
      <% end %>
  </div>


  <span style="font-size:40px;cursor:pointer" onclick="openNav()">&#9776;</span>


  <div class="body-page" id="main">
      <h1 class="text-center">Edit Your Menu template Here</h1>
      <%= render "form2" %>
      <br style="clear:both">
  </div>
</div>
