/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "summernote";
 .modal-backdrop {
   z-index: -1;
 }

 .navbar-brand{
 	color: black !important;
   padding: 29px;
   font-size: 52px;
   vertical-align: bottom;
 }

 .navbar-brand > img {
   margin-top: -49px;
   border: solid 1px #e7e7e7;
 }

 .navbar-brand span {
     color: #b1ce1e;
 }


 .navbar-brand2{
   color: white !important;
    padding: 29px;
    font-size: 40px;
    vertical-align: bottom;
 }
