<section id="section-banner">
  <div class="container">
    <div class="row">
      <div class="banner-content text-center">
        <h2 class="title">
          <div class="line-top"></div>
            Deliver your messages to your customers
        <div class="line-btm"></div>
        </h2>

        <a href="#resume-details" class="btn btn-default">Learn More</a>
      </div>
    </div>
  </div>
</section>
